.form {
  box-shadow: 0 0.25rem 1rem rgb(0 0 0 / 0.1);
  padding: 3rem 2.5rem;
  margin: 3rem 0;
}

.group__container,
.btn__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.group__left {
  flex: 0 1 60%;
}

.event__banner__div {
  flex: 0 1 40%;
  margin-left: 2rem;
}

.event__banner__div input {
  display: none;
}

.event__banner__div label {
  aspect-ratio: 1/1.1;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  border: 1px dashed silver;
  border-radius: 5px;
}

.textarea {
  width: 100%;
  margin-bottom: 1rem;
  font-family: "Open Sans", sans-serif;
  padding: 0.2rem 0.5rem;
  font-size: 15px;
}

.event__select {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 18px;
  margin-bottom: 1rem;
}

.btn__container {
  align-items: center;
  flex-direction: row-reverse;
}

.btn__container button {
  flex: 0 1 20%;
}

@media (max-width: 630px) {
  .form {
    padding: 2.5rem 2rem;
  }
  .group__left {
    flex: 0 1 40%;
  }
  .event__banner__div {
    flex: 0 1 60%;
  }
  .btn__container button {
    flex: 0 1 40%;
  }
}

@media (max-width: 520px) {
  .form {
    padding: 2.5rem 1.5rem;
    margin-inline: 0.5rem;
  }
  .event__banner__div label {
    aspect-ratio: 0.5/0.65;
    font-size: 14px;
    padding: 0 0.2rem;
  }

  .event__banner__div {
    margin-left: 1rem;
  }
}
